<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<h2>Item: {{item.name}}</h2>
<br/>
<p>Description: {{item.description}}</p>
<p>Image: {{item.image_url}}</p>
<a href="/catalog/{{item.name}}/edit">Edit</a> | <a href="/catalog/{{item.name}}/delete">Delete</a> | <a href='/catalog/{{category_name}}/items'>Cancel</a>
