{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>

<div class="row">
  <div class="col-md-4 right-vert-rule">
    <h2><a class="btn btn-custom-big" href="/" role="button">Categories/Latest</a></h2>
    {% for c in categories %}
      <a href='/catalog/{{c.name}}/items'>{{c.name}}</a><br/>
    {% endfor %}
  </div>
  <div class="col-md-8 listing">
    <h2>Latest Items</h2>
    {% for last_item, category in last_items %}
       <a href='/catalog/{{category.name}}/{{last_item.name}}'>{{last_item.name}}</a><em> ({{category.name}})</em><br/>
     {% endfor %}
  </div>
</div>

{% endblock %}
