{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-4 right-vert-rule">
    <h2>Categories</h2>
    {% for c in categories %}
      <a href='/catalog/{{c.name}}/items'>{{c.name}}</a><br/>
    {% endfor %}
  </div>
  <div class="col-md-8 listing">
    <h2>Category: {{category_name}} <em>({{item_count}} items)</em></h2> 
    {% for i, c in items %}
      <a href='/catalog/{{c.name}}/{{i.name}}'>{{i.name}}</a><br/>
    {% endfor %}
  </div>
</div>

{% endblock %}
