<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div>
  {% for c in categories %}
    <a href='/catalog/{{c.name}}/items'>{{c.name}}</a>
  {% endfor %}
</div>

<h2>Category: {{category_name}} ({{item_count}})</h2>
<br/>

<div>
  <a href="/catalog/{{category_name}}/new">Add Item</a>
  {% for i, c in items %}
    <a href='/catalog/{{c.name}}/{{i.name}}'>{{i.name}}</a>
  {% endfor %}
</div>
