{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-4">
    <h2>{{item.name}}</h2>
    <a href="#" class="thumbnail image-form-margin">
      <img class="img-responsive" src="/{{item.image_url}}" alt="thumbnail">
    </a>
  </div>
  <div class="col-md-8">
    <h2>&nbsp</h2>
    <p class='description_copy'>{{item.description}}</p>
    <a href="/catalog/{{item.name}}/edit">Edit</a><span class="divider"> | </span><a href="/catalog/{{item.name}}/delete">Delete</a>
  </div>
</div>

{% endblock %}
